:root {
    --gradient: linear-gradient(to left, #f1f1ff, #c6c4ea, #9f99d4, #7a6ebd, #5644a4, #413191, #2a1f7f, #0c0c6d, #000d5e, #000d4e, #00083f, #020130);}

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
