:root {
    --gradient: linear-gradient(to left bottom, #0d07c7, #3732ce, #524fd3, #6a69d6, #8182d8);
}

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
